/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";


.angular-google-map-container { height: 100vh; }

.item-icon-small { font-size:large !important; color: #666 }


/* Template Demo 1 */
.carousel-item.demo-1 {
    position: relative;
    width: 90px;
    height: 90px;
}

.carousel-item.demo-1 .circle {
    position: relative;
    height: 90px;
    transition: all .3s cubic-bezier(.215, .610, .355, 1.000);
    border-radius: 50%;
}
.carousel-item.demo-1 .circle  > span {
    display: block;
    text-align:center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.a-carousel li.active .carousel-item.demo-1 .circle {
    background: #449bd1;
}
.a-carousel li.active .carousel-item.demo-1 .circle  > span {
    color: white;
}

.badge-price{
    font-size:smaller; 
    position: absolute !important; 
    top: -12px !important; 
    right: 10px;
}