<ion-view view-title="{{vm.arena.nome}}" class="arena-details" style="background: #efefef">

  <ion-content>
    <ion-slide-box active-slide="index">
      <ion-slide ng-repeat="image in vm.arena.album">
        <div style="height: 30vh">
          <img src="{{image.img}}" style="width: 100%" alt="">
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="list card">

      <div class="item">
        <h2>{{vm.arena.nome}}</h2>
        <p><i class="icon ion-ios-location"></i> {{vm.arena.endereco}}</p>
      </div>
    </div>

    <div class="list card">
      <a href="#" class="item item-icon-left item-borderless">
        <i class="icon ion-navigate item-icon-small"></i> 4 km
      </a>

      <a class="item item-icon-left item-borderless">
        <i class="icon ion-link item-icon-small"></i> {{vm.arena.site}}
      </a>

      <a href="#" class="item item-icon-left item-borderless">
        <i class="icon ion-ios-telephone item-icon-small"></i> {{vm.arena.telefone}}
      </a>

      <a href="#" class="item item-icon-left item-borderless">
        <i class="icon ion-email item-icon-small"></i> {{vm.arena.email}}
      </a>
    </div> 
    <!--<div class="padding-horizontal">
      <button ui-sref="tab.arenas.detail.reserva" class="button button-full button-positive">
        RESERVAR
      </button>
    </div>-->
    
    <a-carousel item-directive="carousel-text-item" carousel-options="::vm.carouselOptions1" array-provider="::vm.carouselData1"
      on-select="vm.onSelectCarousel(item)">
    </a-carousel>
    
    <!-- content goes here -->
    <ion-list>
      <h1>Horários</h1>
      <ul>
        <li ng-repeat="horario in vm.horariosPorQuadra">
          {{horario.quadra.nome}}
          <div class="row" ng-repeat="hr in horario.horarios | orderBy:'start'" ng-if="$index % 3 === 0">
            <div class="col col-33" ng-if="$index < horario.horarios.length">

              <button ng-click="vm.openConfirmacaoModal(horario , $index);" class="button button-block button-small button-positive">
                {{horario.horarios[$index].start | date :'HH:mm'}}
                <span class="badge badge-assertive icon-badge badge-price">
                  {{horario.horarios[$index].preco | currency : "R$"}}/h
                </span>
              </button>
            </div>
            <div class="col col-33" ng-if="$index + 1 < horario.horarios.length">
              <button ng-click="vm.openConfirmacaoModal(horario, $index + 1);" class="button button-block button-small button-positive">
               {{horario.horarios[$index + 1].start| date :'HH:mm'}}
               <span class="badge badge-assertive icon-badge badge-price">
                  {{horario.horarios[$index + 1].preco | currency : "R$"}}/h
                </span>
              </button>
            </div>
            <div class="col col-33" ng-if="$index + 2 < horario.horarios.length">
              <button ng-click="vm.openConfirmacaoModal(horario , $index + 2);" class="button button-block button-small button-positive">
                {{horario.horarios[$index + 2].start| date :'HH:mm'}}
                <span class="badge badge-assertive icon-badge badge-price">
                  {{horario.horarios[$index + 2].preco | currency : "R$"}}/h
                </span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </ion-list>
    <!--<pre>{{vm.arena | json}}</pre>-->
  </ion-content>
</ion-view>

