<ion-view view-title="main module" style="background: #efefef">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <a-carousel item-directive="carousel-text-item" carousel-options="::rctrl.carouselOptions1" array-provider="::rctrl.carouselData1"
      on-select="rctrl.onSelectCarousel(item)">
    </a-carousel>
    <!-- content goes here -->
    <ion-list>
      <h1>Horários</h1>
      <ul>
        <li ng-repeat="horario in rctrl.horariosPorQuadra">
          {{horario.quadra.nome}}
          <div class="row" ng-repeat="hr in horario.horarios | orderBy:'start'" ng-if="$index % 3 === 0">
            <div class="col col-33" ng-if="$index < horario.horarios.length">

              <button ui-sref="main.reserva.detail({id: adctrl.arena.$id})" class="button button-block button-small button-positive">
                {{horario.horarios[$index].start | date :'HH:mm'}}
                <span class="badge badge-assertive icon-badge badge-price">
                  {{horario.horarios[$index].preco | currency : "R$"}}/h
                </span>
              </button>
            </div>
            <div class="col col-33" ng-if="$index + 1 < horario.horarios.length">
              <button class="button button-block button-small button-positive">
               {{horario.horarios[$index + 1].start| date :'HH:mm'}}
               <span class="badge badge-assertive icon-badge badge-price">
                  {{horario.horarios[$index + 1].preco | currency : "R$"}}/h
                </span>
              </button>
            </div>
            <div class="col col-33" ng-if="$index + 2 < horario.horarios.length">
              <button class="button button-block button-small button-positive">
                {{horario.horarios[$index + 2].start| date :'HH:mm'}}
                <span class="badge badge-assertive icon-badge badge-price">
                  {{horario.horarios[$index + 2].preco | currency : "R$"}}/h
                </span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </ion-list>
  </ion-content>
</ion-view>

<script type="text/ng-template" id="carousel-template.html">
    <div class="carousel-item demo-1" >
    <div class="circle">
        <span ng-bind="::vm.ngModel.display"></span>
    </div>
</div>
</script>